@charset "UTF-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,600');

body {
	margin: 0px;
	padding: 0px;
	font-family: "eskapade-fraktur", EskapadeFraktur-Regular, serif;
	background-color:#EFEFEF;
}

a {
	color: black;
	text-decoration: none;
}

/* SELECTION STYLES */
.selec::selection {
	text-shadow: 3px 3px 0 rgba(176,176,176,1);
}
.selec a::selection {
	text-shadow: 3px 3px 0 rgba(176,176,176,1);
}
.tooltiptext::selection {
	color: grey;
}

.selec::-webkit-selection {
	text-shadow: 3px 3px 0 rgba(176,176,176,1);
}
.selec a::-webkit-selection {
	text-shadow: 3px 3px 0 rgba(176,176,176,1);
}
.tooltiptext::-webkit-selection {
	color: grey;
}

.selec::-moz-selection {
	text-shadow: 3px 3px 0 rgba(176,176,176,1);
}
.selec a::-moz-selection {
	text-shadow: 3px 3px 0 rgba(176,176,176,1);
}
.tooltiptext::-moz-selection {
	color: grey;
}

.selec::-o-selection {
	text-shadow: 3px 3px 0 rgba(176,176,176,1);
}
.selec a::-o-selection {
	text-shadow: 3px 3px 0 rgba(176,176,176,1);
}
.tooltiptext::-o-selection {
	color: grey;
}
/* //SELECTION STYLES */



/* FLICKER ANIMA */
@keyframes flicker {
	from {color: white;}
	to {color: blue;}
}
@-webkit-keyframes flicker {
	from {color: white;}
	to {color: blue;}
}
@-moz-keyframes flicker {
	from {color: white;}
	to {color: blue;}
}
@-o-keyframes flicker {
	from {color: white;}
	to {color: blue;}
}
/* //FLICKER ANIMA */



/* MENU */
.navi {
	position: fixed;
	font-size: 29px;
	text-align: center;
	line-height: 21px;
	z-index: 3;
}

.navi a {
	text-decoration: none;
	color: blue;
	padding: 1px 4px 1px 4px;
}

.navi a:hover {
	animation: flicker .1s infinite alternate cubic-bezier(0,1.4,.58,.77);
}

.navi a:visited {
	color: blue;
}

#work {
	width: 100%;
	top: 49px;
}

#instagram {
	bottom: 51px;
	width: 100%;
}

#about {
	transform: rotate(90deg);
	top: 47%;
	left: 30px;
	width: auto;
	height: auto;
}

#contact {
	transform: rotate(-90deg);
	top: 47%;
	right: 23px;
	width: auto;
	height: auto;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
	z-index: -1;
	font-size: 60px;
	opacity: 1;
	position: absolute;
	height: auto;
    width: 700px;
    left: 50%;
    margin-left: -350px;
	bottom: -7px;
	padding: 24px 0px 11px 0px;
	color: white;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
/* //MENU */



/* LEFT SIDE */
.fiftyfifty {
    width: 50%;
    top: 0;
    left: 0;
    position: fixed;
    height: 100%;
	background: url(../images/tp2.gif);
}

.profilbild {
	height: 60%;
	width: 50%;
	margin: auto;
	top: 20%;
	position: absolute;
	left: 25%;
	background: url(../images/about/profile.jpg);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.cta {
	bottom: 11%;
	position: absolute;
	width: 90%;
	left: 5%;
	text-align: center;
	font-size: 16px;
	font-family: 'Source Code Pro', monospace;
	text-indent: 6px;
	font-weight: 600;
}

.cta a {
	color: blue;
	animation: flicker .1s infinite alternate cubic-bezier(0,1.4,.58,.77);
	padding: 8px;
}
/* //LEFT SIDE */



.wrapper {
	width: 50%;
	position: absolute;
	right: 0;
	height: 100%;
	font-family: 'Source Code Pro', monospace;
	
}


.text {
	position: absolute;
	z-index: 1;
	width: 60%;
	left: 17%;
	margin-top: -220px;
	top: 50%;
	text-align: left;
	padding-bottom: 44px;
	font-size: 16px;
}

.bolder {
	font-weight: 600;
	color: blue;
}

.smaller {
	font-size: 13px;
}
