@charset "UTF-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400');

body {
	margin: 0px;
	padding: 0px;
	font-family: "eskapade-fraktur", serif;
	background-color:#EFEFEF;
}


/* SELECTION STYLES */
.selec::selection {
	text-shadow: 3px 3px 0 rgba(176,176,176,1);
}
.selec a::selection {
	text-shadow: 3px 3px 0 rgba(176,176,176,1);
}
.tooltiptext::selection {
	color: grey;
}
p1::selection {
	text-shadow: 3px 3px 0 rgba(176,176,176,1);
}
p2::selection {
	text-shadow: 3px 3px 0 rgba(176,176,176,1);
}

.selec::-webkit-selection {
	text-shadow: 3px 3px 0 rgba(176,176,176,1);
}
.selec a::-webkit-selection {
	text-shadow: 3px 3px 0 rgba(176,176,176,1);
}
.tooltiptext::-webkit-selection {
	color: grey;
}
p1::-webkit-selection {
	text-shadow: 3px 3px 0 rgba(176,176,176,1);
}
p2::-webkit-selection {
	text-shadow: 3px 3px 0 rgba(176,176,176,1);
}

.selec::-moz-selection {
	text-shadow: 3px 3px 0 rgba(176,176,176,1);
}
.selec a::-moz-selection {
	text-shadow: 3px 3px 0 rgba(176,176,176,1);
}
.tooltiptext::-moz-selection {
	color: grey;
}
p1::-moz-selection {
	text-shadow: 3px 3px 0 rgba(176,176,176,1);
}
p2::-moz-selection {
	text-shadow: 3px 3px 0 rgba(176,176,176,1);
}

.selec::-o-selection {
	text-shadow: 3px 3px 0 rgba(176,176,176,1);
}
.selec a::-o-selection {
	text-shadow: 3px 3px 0 rgba(176,176,176,1);
}
.tooltiptext::-o-selection {
	color: grey;
}
p1::-o-selection {
	text-shadow: 3px 3px 0 rgba(176,176,176,1);
}
p2::-o-selection {
	text-shadow: 3px 3px 0 rgba(176,176,176,1);
}
/* //SELECTION STYLES */


.fiftyfifty {
    width: 50%;
    top: 0;
    right: 0;
    position: fixed;
    height: 100%;
	z-index: 0;
	background: url(../images/tp2.gif);
}



/* FLICKER ANIMA */
@keyframes flicker {
	from {color: white;}
	to {color: blue;}
}
@-webkit-keyframes flicker {
	from {color: white;}
	to {color: blue;}
}
@-moz-keyframes flicker {
	from {color: white;}
	to {color: blue;}
}
@-o-keyframes flicker {
	from {color: white;}
	to {color: blue;}
}
/* //FLICKER ANIMA */


/* MENU */
.navi {
	position: fixed;
	font-size: 29px;
	text-align: center;
	line-height: 21px;
	z-index: 2;
}

.navi a {
	text-decoration: none;
	color: blue;
	padding: 1px 4px 1px 4px;
}

.navi a:hover {
	animation: flicker .1s infinite alternate cubic-bezier(0,1.4,.58,.77);
}

.navi a:visited {
	color: blue;
}

#work {
	width: 100%;
	top: 49px;
}

#instagram {
	bottom: 51px;
	width: 100%;
}

#about {
	transform: rotate(90deg);
	top: 47%;
	left: 30px;
	width: auto;
	height: auto;
}

#contact {
	transform: rotate(-90deg);
	top: 47%;
	right: 23px;
	width: auto;
	height: auto;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
	z-index: -1;
	font-size: 60px;
	opacity: 1;
	position: absolute;
	height: auto;
    width: 700px;
    left: 50%;
    margin-left: -350px;
	bottom: -7px;
	padding: 24px 0px 11px 0px;
	color: white;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
/* //MENU */


/* EMAIL */	
.email {
    display: block;
    font-size: 65px;
    width: 54%;
    top: 22%;
    left: 23%;
    margin:auto;
    position: absolute;
    text-align: center;
    overflow: hidden;
    height: 50%;
	z-index: 3;
}

#hello {
    top: 45%;
    padding:22px;
    position: relative;
    color: black;
    text-decoration: none;
}

.email:hover{
    color: white;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
	/*
	border-bottom: 8px dashed blue;
    -moz-transition: 200ms ease-in-out;
    -o-transition: border-width 200ms ease-in-out;
    transition: border-width 200ms ease-in-out;
    -webkit-transition: border-width 200ms ease-in-out;
	*/
}

p1 {
	color: blue;
	padding: 6px;
	animation: flicker .1s infinite alternate cubic-bezier(0,1.4,.58,.77);
}

p2 {
	color: white;
	padding: 6px;
	/animation: flicker .1s infinite alternate cubic-bezier(0,1.4,.58,.77);
}
/* //EMAIL */	


/* TEXT */
.note {
    width: 41.5%;
	*background-color: white;
    position: absolute;
	bottom: 7%;
	left: 5%;
    
    font-family: 'Source Code Pro', monospace;
    line-height: 25px;
    font-size: 16px;
	padding: 20px;
}

.note a {
	text-decoration: none;
	color: blue;
}

.note a:hover {
	animation: flicker .1s infinite alternate cubic-bezier(0,1.4,.58,.77);
}
/* //TEXT */


