@charset "UTF-8";
/* CSS Document */

body {
	margin: 0px;
	padding: 0px;
	background: url(../images/tp.gif)
}

.fiftyfifty {
	width: 0%;
	position: fixed;
	height: 100%;
	background-color: #e2e2e2;
	right: 0px;
}

/* MENU MENU */
.navi {
	position: fixed;
	font-size: 29px;
	text-align: center;
	//border: 2px solid red;
	line-height: 21px;
}

.navi a {
	text-decoration: none;
	font-family: EskapadeFraktur-Regular;
	color: blue;
	padding: 1px 4px 1px 4px;
}

.navi a:hover {
	text-shadow: 3px 3px 0px #00ff00;
}

.navi a:visited {
	color: blue;
}

#work {
	width: 100%;
	top: 49px;
}

#instagram {
	bottom: 51px;
	width: 100%;
}

#about {
	transform: rotate(90deg);
	top: 47%;
	left: 30px;
	width: auto;
	height: auto;
}

#about a:hover {
	text-shadow: none;
	text-decoration: line-through;
}

#work a:hover {
	text-shadow: none;
	animation: flicker .1s infinite alternate cubic-bezier(0,1.4,.58,.77);
}

#contact {
	transform: rotate(-90deg);
	top: 47%;
	right: 23px;
	width: auto;
	height: auto;
}
/* //MENU MENU */


@keyframes flicker {
	from {color: white;}
	to {color: blue;}
}

.name {
	width: 80%;
	margin: auto;
	margin-top: 18%;
	height: 300px;
	background-repeat: no-repeat;
	background-size: contain;
	background-image: url(../images/mw.svg);
}

.test1 {
	background-color: rgba(255,0,4,0.20);
	width: 50%;
	position: absolute;
	height: 100%;
}

.test2 {
	background-color: rgba(0,0,255,0.20);
	width: 100%;
	position: absolute;
	height: 50%;
}
