@charset "UTF-8";
/* CSS Document */

body {
	margin: 0px;
	padding: 0px;
	background: url(../images/tp.gif)
}

/* SELECTION STYLES */
body::selection {
	text-shadow: 3px 3px 0 rgba(176,176,176,1);
}
.navi a::selection {
	text-shadow: 3px 3px 0 rgba(176,176,176,1);
}
.navi::selection {
	text-shadow: 3px 3px 0 rgba(176,176,176,1);
}
.tooltiptext::selection {
	color: grey;
}
h1 a::selection {
	text-shadow: 7px 7px 0 rgba(176,176,176,0.90);
}
h1::selection {
	text-shadow: 7px 7px 0 rgba(176,176,176,0.90);
}
/* //SELECTION STYLES */


/* MENU */
@keyframes flicker {
	from {color: white;}
	to {color: blue;}
}

.navi {
	position: fixed;
	font-size: 29px;
	text-align: center;
	line-height: 21px;
}

.navi a {
	text-decoration: none;
	font-family: EskapadeFraktur-Regular;
	color: blue;
	padding: 1px 4px 1px 4px;
}

.navi a:hover {
	animation: flicker .1s infinite alternate cubic-bezier(0,1.4,.58,.77);
}

.navi a:visited {
	color: blue;
}

#work {
	width: 100%;
	top: 49px;
}

#instagram {
	bottom: 51px;
	width: 100%;
}

#about {
	transform: rotate(90deg);
	top: 47%;
	left: 30px;
	width: auto;
	height: auto;
}

#contact {
	transform: rotate(-90deg);
	top: 47%;
	right: 23px;
	width: auto;
	height: auto;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
	z-index: -1;
	font-size: 60px;
	opacity: 0.8;
    background-image: -webkit-linear-gradient(left,red,orange,yellow,green,blue,indigo,violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	position: absolute;
	
	height: auto;
    width: 350px;

    left: 50%;
    margin-left: -175px;
	bottom: -9px;
	padding: 24px 0px 11px 0px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
/* //MENU */


/* NAME */
h1 {
	position: absolute;
	width: 70%;
	left: 15%;
	margin-top: -82px;
	height: auto;
	top: 50%;
	text-align: center;
	font-family: EskapadeFraktur-Regular;
	color: black;
	font-size: 122px;
	line-height: 126px;
	font-weight: normal;
	text-shadow: 1px 2px 30px rgba(0,0,0,.4);
}

h1 a{
	text-decoration: none;
	color: black;
}
/* //NAME */

h1 a:hover {
	color: blue;
}
/* BG PIC POPUP */
.bgpic{
    position: fixed;
    width: 80%;
    height: 90%;
    left: 10%;
    top: 5%;
    z-index: -1;
    pointer-events: none;
    opacity: 0.2;
    transition: transform 0.7s ease, opacity 0.25s ease-in-out;
    transform: translate(0, -15px);
}

h1 a:hover .bgpic{
    background-image: url('../images/hallo.gif');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    opacity: 1;
    transform: translate(0, 0px);
}
/* //BG PIC POPUP */







